.container_containt{
    margin-left: 38%;
    margin-top: 5%;
    .title{
        font-weight: 500;
        font-size: 20px;
    }
    .payment{
        margin-right: 55%;
    }
    #payment_btn{
        margin-right: 30%;
    }
}