<div class="container w-100" id="main_container">

<form [formGroup]="userDataForm" class="row" (ngSubmit)="_updateUserData()">
    <div class="col col-sm-3 ">
      <label class="form-label" for="firstName">First Name</label>
      <input type="text" id="firstName" class="form-control form-control" formControlName="first_name"
         />
         <span *ngIf=" userDataForm.get('first_name')?.touched && userDataForm.get('first_name')?.invalid" class="text-danger"> <small>pleae enter valid first name</small> </span>
         <label class="form-label" for="form3Example1n" >Last name</label>
         <input type="text" id="form3Example1n" class="form-control  form-control" formControlName="last_name"/>
         <span *ngIf=" userDataForm.get('last_name')?.touched && userDataForm.get('last_name')?.invalid" class="text-danger"><small>pleae enter valid last name</small> </span>

      <label class="form-label" for="altEmail">Alternate Email</label>
      <input type="email" id="altEmail" class="form-control form-control"  formControlName="secondary_email"/>
      <span *ngIf="  userDataForm.get('secondary_email')?.touched&& userDataForm.get('secondary_email')?.invalid" class="text-danger"> <small> pleae enter valid Alternate Email</small> </span>
  

    </div>

    <div class="col col-sm-3 ">
    
     
      <label class="form-label" for="form3Example9" >DOB</label>
      <input type="date" id="form3Example9" class="form-control form-control" formControlName="date_of_birth" />
      <span *ngIf=" userDataForm.get('date_of_birth')?.invalid && userDataForm.get('date_of_birth')?.touched" class="text-danger"> <small>pleae enter valid Date Of Birth</small> </span>

      <label class="form-label" for="form3Example99">Alerternate Contact No.</label>
      <input type="" id="form3Example99" class="form-control form-control" 
       formControlName="secondary_mobile_number" />
       <span *ngIf=" userDataForm.get('secondary_mobile_number')?.touched && userDataForm.get('secondary_mobile_number')?.invalid" class="text-danger"> <small>pleae enter valid Alternate contact Number</small> </span>

       
    </div>
  
    <div class="col col-sm-3 col_btn">
      <button type="submit" id="btn_save" class="btn btn-success  px-4"  [disabled]="userDataForm.invalid" >Save</button>
    </div>
  </form>
  </div>
