<div class="container" id="main_container">
  <form [formGroup]="userDataForm">
    <div class="col col-md-3 add_div p-0">
      <div class="d-flex">
        <p class="h6 text-success m-0 p-0">Default Address:</p>
        <strong class="mx-2">Office</strong>
      </div>
      <textarea class="form-control" name="" id="" rows="7" formControlName="address" [disabled]="!editMode"></textarea>
      <button class="btn mx-1 my-1 btn-outline-dark rounded-0">Deliver Here</button>
      <i class="bi bi-trash3 mx-2"></i>
      <i class="bi bi-pen mx-2" (click)="toggleEditMode()"></i>
    </div>
  </form>
</div>
