<app-header></app-header>
<!-- 
// carousel -->
<!--  todo:header components responsiveness  -->
<div id="banner" class="carousel slide ">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#scrollLeft" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#scrollRight" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/hero.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/hero copy.png" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- //catagory cards -->

<div class="container ">
    <div class="d-flex ">
        <div class="" id="title">
            <p class="h3 text-secondary"> Explore Categories</p>


        </div>
<!-- //todo: responsiveness -->
        <div class="nav   d-flex " id="nav_tabs">
            <ul class="nav justify-content-inline  ">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">All Categories </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vegitable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fruit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Coffee & Tea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Meat</a>
                </li>
            </ul>
        </div>
    </div>

<!-- // cards -->

<div class="card_container  ">
<div class="card">
 <div class="img">
    <img src="../../assets/images/categories_images/peach.png" alt="">
 </div>
 <div class="details ">
    <p class="" id="item_title">peach</p>
    <small class="text-secondary" id="item">Items</small>
 </div>

</div>
<!-- //02 -->
<div class="card">
    <div class="img">
       <img src="../../assets/images/categories_images/image 4.png" alt="">
    </div>
    <div class="details ">
       <p class="" id="item_title">Vegitable</p>
       <small class="text-secondary" id="item">Items</small>
    </div>
   
   </div>
   <!-- 03 -->
   <div class="card">
    <div class="img">
       <img src="../../assets/images/categories_images/apple.png" alt="">
    </div>
    <div class="details ">
       <p class="" id="item_title">Apples</p>
       <small class="text-secondary" id="item">Items</small>
    </div>
   
   </div>
   <!-- 04 -->
   <div class="card">
    <div class="img">
       <img src="../../assets/images/categories_images/straberry.png" alt="">
    </div>
    <div class="details ">
       <p class="" id="item_title">Straberry</p>
       <small class="text-secondary" id="item">Items</small>
    </div>
   
   </div>
   <!-- 05 -->
   <div class="card">
    <div class="img">
       <img src="../../assets/images/categories_images/orange.png" alt="">
    </div>
    <div class="details ">
       <p class="" id="item_title">Orange</p>
       <small class="text-secondary" id="item">Items</small>
    </div>
   
   </div>
   <!-- 06 -->
   <div class="card">
    <div class="img">
       <img src="../../assets/images/categories_images/patato.png" alt="">
    </div>
    <div class="details ">
       <p class="" id="item_title">Patato</p>
       <small class="text-secondary" id="item">Items</small>
    </div>
   
   </div>
   <!-- 07 -->
   <div class="card">
    <div class="img">
       <img src="../../assets/images/categories_images/carrot.png" alt="">
    </div>
    <div class="details ">
       <p class="" id="item_title">Carrot</p>
       <small class="text-secondary" id="item">Items</small>
    </div>
   
   </div>
</div>

</div>
<!-- <app-footer></app-footer> -->