<section class="vh-100 ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
         
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form style="width: 23rem;" [formGroup]="loginForm">
  
              
  
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example18">Email address</label>
                <input type="email" id="form2Example18" class="form-control form-control-lg" formControlName="username" />
                <span *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="text-danger">please enter email</span>
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example28">Password</label>
                <input type="password" id="form2Example28" class="form-control form-control-lg" formControlName="password" />
                <span *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">please enter password</span>
               
              </div>
              <span class="text-danger small mb-5" *ngIf="loginSuccess">Email Id or password is Inccorect please try again</span>
              <div class="pt-1 mb-4">
                <button class="btn btn-success btn-lg btn-block" type="button" (click)="loginUser()" >Login</button>
                
              </div>
  
              <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
              <p>Don't have an account? <a routerLink="/registration" routerLinkActive="active" class="link-success">Register here</a></p>
  
            </form>
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="../../../../assets/icon/grocery_shopping_logo.webp"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>

  

