<nav class="navbar navbar-expand-sm navbar-light bg-light ">
      <div class="container">
        <a class="navbar-brand" href="#"> <img src="../../assets/logo.png" class="w-75" alt=""> </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
           <div class="container bg-secondary d-flex  _nav_ds_item">

       
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle _dropdown_btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All Catagories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              

            <form class="d-flex my-2 my-lg-0 ">
                <input class="form-control me-sm-0 " type="text" placeholder="Search">
                <button class="btn btn-success  my-sm-0  btn_search " type="submit"> <img 
                     src="../../assets/icon/search.svg"  class='logo 'alt=""></button>
            </form>
       
     
       
        </div>
        <div>
           <div class="dropdown open cart_dropdown">
            <button class="btn dropdown-toggle cart_btn" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="cart d-flex ">
                        <span><img src="../../assets/icon/cart.svg" class="my-3" alt=""></span>
                        <span class="title "> <small>My cart</small> </span>
                        <span class="my-2 ">200</span>
                                </div>
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item disabled" href="#">Disabled action</button>
            </div>
           </div>
           </div>
        </div>
  </div>
</nav>
