ul, input, button{
    font-size: 12px;
}
input,button{
    border-radius: 0;
}
input{
    border: none;
    border-left: 1px solid grey;
    width: auto;
    width: 15rem;

;
}
.nav{
    height: 4rem;
    border-bottom: 1px solid grey;
}
//subnav css
.catagory{
    padding: 0;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    height: max-content;
    
}

span,p,img{
    margin: 0;
    padding: 0;
}
#contact_no{
    color:  green;
    margin-right: 3px;
}
@media screen  and (max-width:560px){

    #logo{
        width: 100px;
    }
    .contact_div{
        font: 10px;
    }
}