ul, input, button{
    font-size: 12px;
}
input,button{
    border-radius: 0;
}
input{
    border: none;
    border-left: 1px solid grey;
    width: auto;

;
}
.nav{
    height: 50px;
    border-bottom: 1px solid grey;
}
//subnav css
.catagory{
    padding: 0;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    
}
span,p,img{
    margin: 0;
    padding: 0;
}