 <div class="container" id="main_container">

    <form [formGroup]="userDataForm" class="row" (ngSubmit)="_changePassFormSubmit()">
        <div class="col col-md-4 ">
            <label class="form-label" for="current_pass" >  Current Password</label>
            <input type="password" id="current_pass" class="form-control form-control-lg"  formControlName="current_password" />
            <span *ngIf="userDataForm.get('current_password')?.touched && userDataForm.get('current_password')?.invalid" class="text-danger">password is not match with your previous password</span>
            <label class="form-label" for="new_pass"> New Password</label>
            <input type="password" id="re_pass" class="form-control form-control-lg"  formControlName="new_password" />
            <label class="form-label" for="re_pass"> Confirm New Password</label>
            <input type="password" id="re_pass" class="form-control form-control-lg" formControlName="confirm_password"  />
            <span *ngIf="userDataForm.get('new_password')?.touched && userDataForm.get('new_password')?.invalid" class="text-danger">please enter password</span>
            <!-- <span *ngIf="flag;else warning"></span>
            <ng-template #warning> <p class="text-danger">enter password is not match</p></ng-template> -->
        </div>
    
    
      
    
        <div class="col col-md-4 col_btn">
          <button type="submit" id="btn_save" class="btn btn-success  px-4"  >Save</button>
        </div>
      </form>
      </div>
    

 

   