
<footer class="container my-5 ">
    <div class="row">
      
        <div class="comp_details">
            <img src="../../assets/logo.png" class="lg " alt="logo">
           <div class="info">
            <span>
                <img src="../../assets/icon/geo-alt.svg" alt="icon">
            </span>
            <p class="field_name">Address:</p>
            <p class="field_value">1762 School House Road</p>
           </div>
           <div class="info">
            <span>
                <img src="../../assets/icon/telephone.svg" alt="icon">
            </span>
            <p class="field_name">Call Us:</p>
            <p class="field_value">1233-7777</p>
           </div>
           <div class="info">
            <span>
                <img src="../../assets/icon/envelope.svg" alt="icon">
            </span>
            <p class="field_name">Email:</p>
            <p class="field_value">groceyish@contact.com</p>
           </div>
           <div class="info">
            <span>
                <img src="../../assets/icon/clock.svg" alt="icon">
            </span>
            <p class="field_name">Work hours:</p>
            <p class="field_value">8:00-20:00, Sunday - Thursday</p>
           </div>
          
        </div>
    </div>
    <div class="row sub_footer d-flex">

<div class="trad_mark d-flex">
    <span><img src="../../assets/icon/c-circle.svg" alt="copyright"></span>
    <p>2023. All Right Reserved</p>
</div>

<div class="social_icons">
  <img src="../../assets/icon/facebook.svg" alt="">
  <img src="../../assets/icon/linkedIn.svg" alt="">
  <img src="../../assets/icon/twitter.svg" alt="">
  <img src="../../assets/icon/ig.svg" alt="">
</div>
    </div>

</footer>